@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";
.pt-button{
  outline: none;
}
.rootController {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.searchControllerLoadingWrapper{
padding-left: 150px;
  padding-top: 27.5px;
}
.homeController, .searchController  {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.homeController {
  display: flex;
  align-items: center;
  padding-top: 200px;
  flex-direction: column;
}
.searchController {

}
.searchControllerResults{
  margin-left: 150px;
}
.searchHeader{
  color: rgb(128, 128, 128);
  font-size: 13px;
  height: 43px;
  display: flex;
  align-items: center;
  font-family: arial, sans-serif;
}
.documentCell {
  margin-bottom: 20px;
  font-family:arial, sans-serif;
}
.documentCell .title{
  color: #1a0dab;
  font-size:18px;
  font-weight:400;
}
.documentCell .details{
    color: #006621;
    font-size:14px;
    font-weight:400;
}
.searchControllerTopBar{
  display: flex;
  width: 100%;
  align-items: center;
  height: 80px;
  background-color: #F9F9F9;
border-bottom:rgb(235, 235, 235) solid 1px;

}
.searchControllerTopBar .searchLogo{
  height: 30px;
  margin-left: 22px;
  margin-right: 21px;
}
.homeController .searchLogo{
  margin-bottom: 20px;
}
.homeController .searchLogo{
  height: 48px;
}
.searchBar{
  box-sizing : content-box;
  outline: none;
  border: 0px;
  border-radius: 2px;
  font: 16px arial,sans-serif;
  line-height: 34px;
  height: 24px;
  padding-left: 16px;
  padding-top: 10px;
  padding-bottom:9px;
  margin-right: 10px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
  transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
  width: 500px;
}
